In [113]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [114]:
df.shape

(13320, 9)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [116]:
for col in df.columns:
  print(df[col].value_counts())
  print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [117]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [118]:
df.drop(columns=["area_type", "availability", "balcony"], inplace=True)
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   society     7818 non-null   object
 3   total_sqft  13320 non-null  object
 4   bath        13247 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(2), object(4)
memory usage: 624.5+ KB

In [120]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [121]:
df['location'] = df['location'].fillna('Sarjapur Road')

In [122]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [123]:
df['size'] = df['size'].fillna('2 BHK')
df['bath'] = df['bath'].fillna(df['bath'].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   society     7818 non-null   object
 3   total_sqft  13320 non-null  object
 4   bath        13320 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(2), object(4)
memory usage: 624.5+ KB

In [124]:
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [125]:
df[df.bhk > 20]

,location,size,society,total_sqft,bath,price,bhk
1718,2Electronic City Phase II,27 BHK,NaN,8000,27.0,230.0,27
4684,Munnekollal,43 Bedroom,NaN,2400,40.0,660.0,43

In [126]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [127]:
def convertRange(x):
  temp = x.split('-')
  if len(temp) == 2:
    return (float(temp[0])+ float(temp[1]))/2
    try:
      return float(x)
    except:
      return None

In [128]:
df['total_sqft'] = df['total_sqft'].apply(convertRange)

### Price Per Square Feet

---

In [129]:
df['price_sqft'] = df['price']*100000/ df['total_sqft']
df['price_sqft']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
13315   NaN
13316   NaN
13317   NaN
13318   NaN
13319   NaN
Name: price_sqft, Length: 13320, dtype: float64

In [130]:
df.describe()

        total_sqft          bath         price           bhk    price_sqft
count   201.000000  13320.000000  13320.000000  13320.000000    201.000000
mean   1864.316343      2.688814    112.565627      2.802778   5169.380100
std    1199.132170      1.338754    148.971674      1.294496   1762.098559
min     412.500000      1.000000      8.000000      1.000000    850.000000
25%     975.000000      2.000000     50.000000      2.000000   4298.571429
50%    1495.000000      2.000000     72.000000      3.000000   4900.000000
75%    2630.000000      3.000000    120.000000      3.000000   5650.396825
max    5667.500000     40.000000   3600.000000     43.000000  12494.669510

In [131]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: location, Length: 1306, dtype: int64

In [132]:
df['location'] = df['location'].apply(lambda x: x.strip())
location_count = df['location'].value_counts()

In [133]:
lc_10 = location_count[location_count<=10]
lc_10

BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: location, Length: 1054, dtype: int64

In [134]:
df['location'] = df['location'].apply(lambda x: 'other' if x in lc_10 else x)
df['location']

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316                       other
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13320, dtype: object

### Handling Outlier

---

In [135]:
df.describe()

        total_sqft          bath         price           bhk    price_sqft
count   201.000000  13320.000000  13320.000000  13320.000000    201.000000
mean   1864.316343      2.688814    112.565627      2.802778   5169.380100
std    1199.132170      1.338754    148.971674      1.294496   1762.098559
min     412.500000      1.000000      8.000000      1.000000    850.000000
25%     975.000000      2.000000     50.000000      2.000000   4298.571429
50%    1495.000000      2.000000     72.000000      3.000000   4900.000000
75%    2630.000000      3.000000    120.000000      3.000000   5650.396825
max    5667.500000     40.000000   3600.000000     43.000000  12494.669510

In [136]:
(df['total_sqft']/ df['bhk']).describe()

count     201.000000
mean      693.444440
std       227.125092
min       343.662500
25%       544.500000
50%       651.250000
75%       790.500000
max      1908.500000
dtype: float64

In [137]:
df = df[((df['total_sqft']/df['bhk'] >=300))]
df.describe()

        total_sqft        bath       price         bhk    price_sqft
count   201.000000  201.000000  201.000000  201.000000    201.000000
mean   1864.316343    2.442786  107.589527    2.611940   5169.380100
std    1199.132170    1.366733  102.047653    1.143965   1762.098559
min     412.500000    1.000000   12.750000    1.000000    850.000000
25%     975.000000    2.000000   40.700000    2.000000   4298.571429
50%    1495.000000    2.000000   66.165000    3.000000   4900.000000
75%    2630.000000    3.000000  142.000000    4.000000   5650.396825
max    5667.500000    7.000000  548.500000    5.000000  12494.669510

In [138]:
df.shape

(201, 8)

In [139]:
df.price_sqft.describe()

count      201.000000
mean      5169.380100
std       1762.098559
min        850.000000
25%       4298.571429
50%       4900.000000
75%       5650.396825
max      12494.669510
Name: price_sqft, dtype: float64

In [140]:
def outlier(df):
  df_op = pd.DataFrame()
  for key, subdf in df.groupby('location'):
    m = np.mean(subdf.price_sqft)

    st = np.std(subdf.price_sqft)
    gen_df = subdf[(subdf.price_sqft> m-st) & (subdf.price_sqft <=(m+st))]
    df_op = pd.concat([df_op, gen_df], ignore_index = True)
  return df_op
df = outlier(df)
df.describe()

        total_sqft        bath       price         bhk    price_sqft
count   126.000000  126.000000  126.000000  126.000000    126.000000
mean   1770.129048    2.500000   95.445833    2.571429   4981.565146
std    1114.450885    1.429685   83.982930    1.120204   1310.764905
min     458.000000    1.000000   13.260000    1.000000   1650.000000
25%     981.250000    2.000000   41.882500    2.000000   4339.837450
50%    1440.750000    2.000000   64.512500    3.000000   4845.008069
75%    2328.000000    3.000000  120.472500    3.000000   5399.259758
max    5611.500000    7.000000  477.000000    5.000000  11993.219381

In [141]:
def bhk_outlier(df):
  exclude_indices = np.array([])
  for loc, loc_df in df.groupby('location'):
    bhk_stats = {}
    for bhk, bhk_df in loc_df.groupby('bhk'):
      bhk_stats[bhk] = {
          'mean': np.mean(bhk_df.price_sqft),
          'std': np.std(bhk_df.price_sqft),
          'count': bhk_df.shape[0]
      }

      for bhk, bhk_df in loc_df.groupby('bhk'):
        stats = bhk_stats.get(bhk-1)
        if stats and stats['count']>5:
          exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_sqft < (stats['mean'])].index.values)
  return df.drop(exclude_indices, axis = 'index')

In [142]:
df = bhk_outlier(df)

In [143]:
df.drop(columns = ['size', 'price_sqft'], inplace = True)

### Cleaned Data

---

In [144]:
df.head()

                location  society  total_sqft  bath   price  bhk
0     8th Phase JP Nagar  Vaarech      1073.5   2.0  54.005    2
1     8th Phase JP Nagar  Vaarech      1431.5   3.0  72.020    3
2               Balagere  Soresea       790.5   1.0  42.295    1
3  Banashankari Stage VI  Brens7       1177.5   2.0  59.935    2
4      Bannerghatta Road  PrarePa      1122.5   2.0  58.935    2

In [145]:
df.to_csv('Cleaned_data.csv')

In [146]:
X = df.drop(columns = ['price'])
y = df['price']

In [147]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [148]:
X_train , X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=0)

In [149]:
print(X_train.shape)
print(X_test.shape)

(100, 5)
(26, 5)

### Applying Linear Regression

---

In [150]:
column_trans = make_column_transformer((OneHotEncoder(sparse = False),['location']), remainder = 'passthrough')

In [151]:
scaler = StandardScaler()

In [152]:
lr = LinearRegression(normalize = True)

In [153]:
pipe = make_pipeline(column_trans, scaler, lr)

In [161]:
pipe.fit(X_train, y_train)

ValueError: ignored

In [ ]:
y_pred_lr = pipe.predict(X_test)

In [ ]:
r2_score(y_test, y_pred)

### Appying Lasso

---

In [157]:
lasso = Lasso()

In [ ]:
pipe = make_pipeline(column_trans, scaler, lr)
pipe.fit(X_train, y_train)

In [ ]:
pipe.fit(X_train, y_train)

In [ ]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

### Applying Rigde

---

In [ ]:
ridge = Ridge()

In [ ]:
pipe = make_pipeline(column_trans, scaler, ridge)
pipe.fit(X_train, y_train)

In [ ]:
y_pred_ridge = pipe(X_test)
r2_score(y_test,y_pred_ridge)

In [ ]:
print("No Regularization: " r2_score(y_test, y_pred))
print("Lasso: " r2_score(y_test, y_pred_lasso))
print("Ridge: " r2_score(y_test, y_pred_ridge))